<html>
<head>
	<title>LogIn</title>
</head>
<body>
	<form method="post" action="../controller/LoginCheck.php">
		<fieldset>
			<legend>LogIn</legend>
			<table>
				<tr>
					<td>User Name</td>
					<td><input type="text" name="username" value=""></td>
				</tr>
				<tr>
					<td>Password</td>
					<td><input type="password" name="password" value=""></td>
				</tr>
				<tr>
					<td>
					<input type="checkbox" name="remember">
					<label for="rememberme">Remember me</label>
					</td>
				</tr>
				<tr>
					<td></td>
					<td><input type="submit" name="submit" value="submit"></td>
				</tr>
			</table>
			<p>Don't have an account?</p>
			<a href="SignUp.html">Sign Up here</a>
		</fieldset>
	</form>
</body>
</html>